.logo-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  cursor: pointer;
}

.slika {
  width: 550px;
}

.navbar {
  font-family: monospace !important;
  background-color: rgba(0, 117, 60, 0.05) !important;
  border: 1px solid #e8e7e7 !important;
  box-shadow: 5px 5px 5px -3px rgba(0, 117, 60, 0.75) !important;
  -webkit-box-shadow: 5px 5px 5px -3px rgba(0, 117, 60, 0.75) !important;
  -moz-box-shadow: 5px 5px 5px -3px rgba(0, 117, 60, 0.75) !important;
  z-index: 1000;
  height: 50px;
  cursor: pointer;
}

.hutba {
  padding-top: 10px !important;
  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000 !important;
  box-shadow: 0 4px 2px -2px gray;
}

.item.active {
  font-weight: 700 !important;
  color: #FFF !important;
  background-color: rgba(0, 117, 60) !important;
}

.create-hutba {
  background-color: rgba(0, 117, 60) !important;
  color: #FFF !important;
}