.icon-container {
  position: relative;
  display: inline-block;
}

.moon {
  position: absolute;
  top: 10%;
  color: rgb(0, 117, 60);
}

.star {
  position: absolute;
  top: 14%;
  left: 12%;
  color: rgb(195, 167, 6);
}

.title {
  font-family: monospace !important;
  font-size: 25px !important;
  font-weight: 900 !important;
  color: rgb(0, 117, 60) !important;
  margin-top: 200px !important;

}

.bosnia {
  position: absolute;
  top: 46%;
  left: 102%;
}